# Projeto de Férias - Aprendizado de Máquina

## Predição de emissão de CO2 em um dataset sobre turbinas à gás

Aluno: Enzo J. Xavier - RM 24035

Orientador: Dr. Daniel Roberto Cassar

### Introdução

### Desenvolvimento

#### Importações e definições

In [2]:
import pandas as pd
import os
import numpy as np

In [8]:
link_2011 = 'link_2011 = '''
link_2012 = ''
link_2013 = ''
link_2014 = ''
link_2015 = ''

df_2011 = pd.read_csv()
df_2012 = pd.read_csv()
df_2013 = pd.read_csv()
df_2014 = pd.read_csv()
df_2015 = pd.read_csv()

linhas_2011 = len(df_2011)
linhas_2012 = len(df_2012)
linhas_2013 = len(df_2013)
linhas_2014 = len(df_2014)
linhas_2015 = len(df_2015)

HTTPError: HTTP Error 404: Not Found

#### Dataset 1: 2011

In [11]:
df_2011

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,134.67,11.898,0.32663,81.952
1,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,134.67,11.892,0.44784,82.377
2,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,135.10,12.042,0.45144,83.776
3,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,135.03,11.990,0.23107,82.505
4,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,134.67,11.910,0.26747,82.028
...,...,...,...,...,...,...,...,...,...,...,...
7406,9.0301,1005.6,98.460,3.5421,19.164,1049.7,546.21,111.61,10.400,4.51860,79.559
7407,7.8879,1005.9,99.093,3.5059,19.414,1046.3,543.22,111.78,10.433,4.84700,79.917
7408,7.2647,1006.3,99.496,3.4770,19.530,1037.7,537.32,110.19,10.483,7.96320,90.912
7409,7.0060,1006.8,99.008,3.4486,19.377,1043.2,541.24,110.74,10.533,6.24940,93.227
7410,6.9279,1007.2,97.533,3.4275,19.306,1049.9,545.85,111.58,10.583,4.98160,92.498

In [17]:
df_2011.describe(include= 'all')

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
count,7411.000000,7411.000000,7411.000000,7411.000000,7411.000000,7411.000000,7411.000000,7411.000000,7411.000000,7411.000000,7411.000000
mean,17.112261,1014.167883,79.174989,4.090755,25.663721,1084.733909,544.503170,135.745675,12.207578,1.572486,67.575392
std,7.428307,6.293003,13.465898,0.661865,4.325835,16.134972,8.288471,16.209187,1.146561,1.845442,10.683331
min,2.116300,995.790000,34.493000,2.758400,17.878000,1000.800000,512.450000,100.170000,9.904400,0.000388,27.765000
25%,10.992000,1009.800000,70.428500,3.644750,23.364500,1082.500000,538.560000,130.745000,11.684000,0.726405,60.361500
50%,16.366000,1013.600000,82.129000,4.026300,24.770000,1088.000000,549.860000,133.810000,12.008000,1.155700,65.542000
75%,23.344500,1018.100000,89.778000,4.480350,29.879500,1099.800000,550.040000,148.325000,13.257000,1.754600,74.314500
max,34.532000,1034.200000,100.170000,7.318900,36.003000,1100.600000,550.610000,170.000000,14.851000,43.622000,119.320000

In [19]:
df_2011.dtypes

AT      float64
AP      float64
AH      float64
AFDP    float64
GTEP    float64
TIT     float64
TAT     float64
TEY     float64
CDP     float64
CO      float64
NOX     float64
dtype: object

#### Dataset 2: 2012

In [12]:
df_2012

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,6.8594,1007.9,96.799,3.5000,19.663,1059.2,550.00,114.70,10.605,3.1547,82.722
1,6.7850,1008.4,97.118,3.4998,19.728,1059.3,550.00,114.72,10.598,3.2363,82.776
2,6.8977,1008.8,95.939,3.4824,19.779,1059.4,549.87,114.71,10.601,3.2012,82.468
3,7.0569,1009.2,95.249,3.4805,19.792,1059.6,549.99,114.72,10.606,3.1923,82.670
4,7.3978,1009.7,95.150,3.4976,19.765,1059.7,549.98,114.72,10.612,3.2484,82.311
...,...,...,...,...,...,...,...,...,...,...,...
7623,10.0370,1022.1,88.531,2.9192,23.641,1083.6,549.91,132.61,11.745,1.6560,76.068
7624,9.8921,1022.2,87.622,2.9415,23.859,1084.9,550.08,133.57,11.869,1.5549,74.930
7625,9.8723,1022.0,86.618,2.9309,23.817,1084.8,549.99,133.50,11.914,1.4093,75.041
7626,10.0260,1022.0,87.301,2.9363,23.831,1084.5,550.01,133.20,11.811,1.3963,74.460
7627,10.0590,1021.8,88.012,2.4579,19.526,1047.5,542.91,111.24,10.585,8.0107,86.066

#### Dataset 3: 2013

In [13]:
df_2013

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,9.3779,1020.1,90.262,2.3927,19.166,1043.6,541.16,110.16,10.564,9.3472,98.741
1,9.2985,1019.9,89.934,2.3732,19.119,1039.9,538.94,109.23,10.572,11.0160,104.290
2,9.1337,1019.8,89.868,2.3854,19.178,1041.0,539.47,109.62,10.543,10.7500,103.470
3,8.9715,1019.3,89.490,2.3825,19.180,1037.1,536.89,108.88,10.458,12.2870,108.810
4,9.0157,1019.1,89.099,2.4044,19.206,1043.5,541.25,110.09,10.464,9.8229,100.020
...,...,...,...,...,...,...,...,...,...,...,...
7147,4.8631,1027.0,81.084,4.2825,34.045,1100.0,529.98,168.38,14.290,1.2538,78.397
7148,4.5173,1027.4,80.813,4.2481,33.904,1100.1,530.47,168.07,14.344,1.0808,78.251
7149,4.2717,1027.9,80.380,4.2817,34.165,1099.9,529.56,168.55,14.395,1.0472,77.269
7150,4.0853,1028.6,78.907,4.2313,33.802,1100.1,530.61,167.98,14.343,1.0875,77.985
7151,4.2148,1029.4,70.679,4.2049,33.768,1100.0,530.97,167.30,14.291,1.1337,78.950

#### Dataset 4: 2014

In [14]:
df_2014

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,8.8358,1022.2,98.762,3.2422,23.152,1067.5,549.94,126.16,11.381,1.9157,68.292
1,9.0529,1021.8,97.464,3.2074,23.207,1067.9,549.80,126.51,11.476,2.0596,68.610
2,9.2464,1021.3,96.494,3.2051,23.296,1068.5,549.89,126.96,11.555,2.1621,68.324
3,9.3792,1020.9,95.912,3.2159,23.465,1069.6,549.94,127.83,11.539,2.1214,67.619
4,9.5757,1020.8,95.412,3.1898,23.205,1068.1,549.83,126.56,11.484,2.1549,66.499
...,...,...,...,...,...,...,...,...,...,...,...
7153,4.6043,1016.7,81.056,2.9386,23.766,1071.6,547.21,131.97,11.645,2.3176,74.015
7154,4.3537,1017.6,80.610,2.7612,21.786,1065.6,550.04,124.65,11.197,5.1828,81.561
7155,4.5199,1018.4,77.402,2.7753,21.921,1066.4,549.91,124.81,11.184,4.9228,82.496
7156,4.2789,1019.3,76.528,2.6798,21.200,1056.6,546.59,119.43,10.953,7.9450,91.232
7157,3.3834,1019.7,81.884,2.7124,21.328,1057.8,546.35,121.25,11.180,9.9270,91.144

#### Dataset 5: 2015

In [15]:
df_2015

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,1.95320,1020.1,84.985,2.5304,20.116,1048.7,544.92,116.27,10.799,7.4491,113.250
1,1.21910,1020.1,87.523,2.3937,18.584,1045.5,548.50,109.18,10.347,6.4684,112.020
2,0.94915,1022.2,78.335,2.7789,22.264,1068.8,549.95,125.88,11.256,3.6335,88.147
3,1.00750,1021.7,76.942,2.8170,23.358,1075.2,549.63,132.21,11.702,3.1972,87.078
4,1.28580,1021.6,76.732,2.8377,23.483,1076.2,549.68,133.58,11.737,2.3833,82.515
...,...,...,...,...,...,...,...,...,...,...,...
7379,3.62680,1028.5,93.200,3.1661,19.087,1037.0,541.59,109.08,10.411,10.9930,89.172
7380,4.16740,1028.6,94.036,3.1923,19.016,1037.6,542.28,108.79,10.344,11.1440,88.849
7381,5.48200,1028.5,95.219,3.3128,18.857,1038.0,543.48,107.81,10.462,11.4140,96.147
7382,5.88370,1028.7,94.200,3.9831,23.563,1076.9,550.11,131.41,11.771,3.3134,64.738
7383,6.03920,1028.8,94.547,3.8752,22.524,1067.9,548.23,125.41,11.462,11.9810,109.240

### Conclusão

### Referências