# Projeto de Férias - Aprendizado de Máquina

## Predição de emissão de CO2 em um dataset sobre turbinas à gás

Aluno: Enzo J. Xavier - RM 24035

Orientador: Dr. Daniel Roberto Cassar

### Introdução

Relembrar: Explicar notebook anterior, referenciar link 

Explicar: Falar objetivo do notebook atual, passo a passo

Modelar: Abordar os modelos usados, teoria e fórmula

#### Importações e definições

Importando as principais bibliotecas usadas neste notebok. A documentação de cada biblioteca se encontra no final do arquivo, na sessão "Referências"

In [1]:
import os
import numpy as np
import math
from sklearn.preprocessing import StandardScaler

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

from statsmodels.tsa.seasonal import seasonal_decompose
import statsmodels.api as sm
from statsmodels.tsa.holtwinters import ExponentialSmoothing

import torch
import darts

Carregando os datasets, que se encontram em uma pasta específica, e criando uma variável intuitiva para cada ano, facilitando a visualização. Para mudar de diretório foram usados métodos da biblioteca $os$

In [5]:
atual = os.getcwd()
caminho = os.path.dirname(atual)
os.chdir(f'{caminho}\\Datasets')

In [7]:
df_2011 = pd.read_csv('gt_2011.csv', parse_dates = True)
df_2012 = pd.read_csv('gt_2012.csv', parse_dates = True)
df_2013 = pd.read_csv('gt_2013.csv', parse_dates = True)
df_2014 = pd.read_csv('gt_2014.csv', parse_dates = True)
df_2015 = pd.read_csv('gt_2015.csv', parse_dates = True)

Analisar e fazer index corretamente

In [ ]:
df_2011['Data'] = df_2011.index
df_2011.set_index = 12
df_2011

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX,Data
0,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,134.67,11.898,0.32663,81.952,0
1,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,134.67,11.892,0.44784,82.377,1
2,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,135.10,12.042,0.45144,83.776,2
3,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,135.03,11.990,0.23107,82.505,3
4,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,134.67,11.910,0.26747,82.028,4
...,...,...,...,...,...,...,...,...,...,...,...,...
7406,9.0301,1005.6,98.460,3.5421,19.164,1049.7,546.21,111.61,10.400,4.51860,79.559,7406
7407,7.8879,1005.9,99.093,3.5059,19.414,1046.3,543.22,111.78,10.433,4.84700,79.917,7407
7408,7.2647,1006.3,99.496,3.4770,19.530,1037.7,537.32,110.19,10.483,7.96320,90.912,7408
7409,7.0060,1006.8,99.008,3.4486,19.377,1043.2,541.24,110.74,10.533,6.24940,93.227,7409
7410,6.9279,1007.2,97.533,3.4275,19.306,1049.9,545.85,111.58,10.583,4.98160,92.498,7410

### Darts

### Skorch

### Pytorch

### Conclusão

### Referências

[1]

[2]

[3]

[4]

[] Biblioteca do normalizador padrão - scikit learn: https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

[] David Menotti, aula sobre MLP: https://www.inf.ufpr.br/menotti/ci171-182/slides/ci171-classMLP.pdf